$primary-color:#BD655C;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}
.container{
    max-width:1140px;
    width: 90%;
    margin:auto;
    // background-color:rgba(253, 253, 253, 0.918);
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
       background-color: rgba(242, 235, 235, 0.616);
    
}

header>.container>h1{
    color:#C47F90;
    // margin-left:30px ;
    // margin-top: 10px;
    padding-top:20px;
}

header>.container>h1>a{
    color: $primary-color;
}

header>.container>nav>ul{
    display:flex;
    justify-content: flex-end;
}



header>.container>nav>ul>li{
  margin-right: 30px;
}
header>.container>nav>ul>li>a{
    display:block;
    line-height: 60px;  
    color:$primary-color;
    font-size: 2em;
}

header>.container>nav>ul>li>a:hover{
   background-color: rgba(255, 255, 255, 0.825);
//    border:1px solid brown;
   padding-left:5px;
   padding-right:5px;
//    border-radius: 5px;
}

#sidebar{
    position:absolute;
    width: 200px;
    padding: 0 20px 200px 20px;

}
#sidebar>.container>ul{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
}

#sidebar>ul>li{
    margin-left: 30px;  
    margin-top:30px;
   
}

#sidebar>ul>li>a{
    display: block;
    line-height: 60px;
    color: $primary-color;
    font-size: 2em;
}

h2{
    font-size: 24px;
    color: burlywood;
    margin: 0 0 10px 0;
    font-weight:bold;
}


// 圖片相關樣式
.img{
    max-width: 100%;
    background-position: center center;
    box-sizing: border-box;
}

// // 內容區塊
// =====================

.img-fluid{
    width: 100%;
}

.img-rounded{
    border-radius: 8px;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
// 文字相關樣式
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}
.text-justify{

}
// 三欄式
.col-4{
    width:calc(100%/ 3-30px);
    margin:0px 15px 40px 15px;
}

.col-3{
    width:calc(100%/ 4-20px);
    margin:0px 15px 40px 15px;
}

.title a{
    color:rgb(32, 29, 29);
    font-size: 1.5em;
    font-weight:700;
}

.date{
color: $primary-color;
}
// 頁尾區塊
footer{
    background-color: #C89CA3;
    padding: 40 0 40 0;
}
dt{
    font-size:1.2em;
    margin-bottom: 10px;
}

dd{
    margin-bottom: 4px;

    }
    
dd>a{
    color: aliceblue;
}



