* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-color: rgba(242, 235, 235, 0.616);
}

header > .container > h1 {
  color: #C47F90;
  padding-top: 20px;
}

header > .container > h1 > a {
  color: #BD655C;
}

header > .container > nav > ul {
  display: flex;
  justify-content: flex-end;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  display: block;
  line-height: 60px;
  color: #BD655C;
  font-size: 2em;
}

header > .container > nav > ul > li > a:hover {
  background-color: rgba(255, 255, 255, 0.825);
  border: 1px solid brown;
  padding-left: 3px;
  padding-right: 3px;
}

.img {
  max-width: 100%;
  background-position: center center;
  box-sizing: border-box;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.col-4 {
  width: calc(100%/ 3-30px);
  margin: 0px 15px 40px 15px;
}

.title a {
  color: #201d1d;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: #BD655C;
}

footer {
  background-color: #C89CA3;
  padding: 40 0 40 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: aliceblue;
}