doctype html
html
    head
 
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Eileen's portfolio
        link(rel='stylesheet', href='public/css/styles.css')
    body
    header
        .container
          .row.flex-space-between
            h1
              a(href='index.html') Eileen Chen.
            a.icon-menu(href="#") menu 
            nav
              ul
                li
                  a(href="#") work
                  ul.submenu 
                    li 
                      a(href="designlist.html") Web Design
                    li 
                      a(href="designlist.html") App Design
                li
                  a(href='aboutus.html') about
                li
                  a(href="#") resume
                li
                  a(href="#") fun
                  ul.submenu 
                    li 
                      a(href="fun.html") Photography
                    li 
                      a(href="fun.html") Notes
                li
                  a(href="contactus.html") contact
    
    img.img(src='public/images/ec.png' alt='intro')
    // content start
    // .container>h1{New Updates}+.row>.col-md-4*6>img.img-fluid+p.title>a[href="#"]{標題$}^p.description{內容}
    // .container>h1{New Updates}+.row>.col-md-4*6>img.img-fluid+p.title.text-center>a[href="#"]{標題$}^p.date.text-center{內容}
    .container
      h2.fz-3.mb-3.text-center New Updates
      .row
        .col-6.col-md-4.col-lg-3
          a(href='#')
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200' alt='')
          p.title.text-center
            a(href='#') 作品標題1
          p.date.text-center 2022-6-15
        .col-6.col-md-4.col-lg-3
          a(href='#')
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200' alt='')
          p.title.text-center
            a(href='') 作品標題2
          p.date.text-center 2022-6-15
        .col-6.col-md-4.col-lg-3
          a(href='#')
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200' alt='')
          p.title.text-center
            a(href='#') 作品標題3
          p.date.text-center 2022-6-15
        .col-6.col-md-4.col-lg-3
          a(href='#')
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200' alt='')
          p.title.text-center
            a(href='#') 作品標題4
          p.date.text-center 2022-6-15
        .col-6.col-md-4.col-lg-3
          a(href='#')
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200' alt='')
          p.title.text-center
            a(href='#') 作品標題5
          p.date.text-center 2022-6-15
        .col-6.col-md-4.col-lg-3
          a(href='#')
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200' alt='')
          p.title.text-center
            a(href='#') 作品標題6
          p.date.text-center 2022-6-15
        .col-6.col-md-4.col-lg-3
          a(href='#')
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200' alt='')
          p.title.text-center
            a(href='#') 作品標題7
          p.date.text-center 2022-6-15
    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{Copyright｜Eileen chen｜All Rights Reserved}
    footer
      .container
        .row
          dl.col-md-3
            dt 標題01
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-md-3
            dt 標題02
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-md-3
            dt 標題03
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-md-3
            dt 標題04
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
        p.copyright.text-center Copyright｜Eileen chen｜All Rights Reserved

        